/* ======= Подключение шрифтов START ======= */
@font-face {
  font-family: "RobotoCondensed-300";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/static/RobotoCondensed-Light.woff") format("woff"), url("../fonts/Roboto_Condensed/static/RobotoCondensed-Light.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Italic-300";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/static/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/Roboto_Condensed/static/RobotoCondensed-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-400";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/static/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/Roboto_Condensed/static/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-500";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/static/RobotoCondensed-Medium.woff") format("woff"), url("../fonts/Roboto_Condensed/static/RobotoCondensed-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-700";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/static/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/Roboto_Condensed/static/RobotoCondensed-Bold.woff2") format("woff2");
}
/* ======= Подключение шрифтов END ======= */

body {
  font-family: 'RobotoCondensed-400';
  color: #0f1835;
}
.content a {
  color: #285484;
  text-decoration: underline;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
}
h1 {
  color: #285484 !important;
  font-family: 'RobotoCondensed-400';
  line-height: 1!important;
}
h2.display-2 {
  color: #285484 !important;
  font-family: 'RobotoCondensed-400';
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 900;
}
.btn-login {
  font-size: 16px;
  letter-spacing: 0.1em;
}
.btn {
  border-radius: 5px!important;
  text-transform: uppercase;
  letter-spacing: 0.1em !important;
}
.logo-hd {
  width: 300px;
  max-width: 90% !important;
  position: relative;
}
.logo-hd img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.logo-hd.maguro {
  width: 240px;
}
@media all and (max-width: 991px) {
  .logo-hd {
    margin-left: auto;
    margin-right: auto;
  }
}
h2.display-1 {
  color: #285484 !important;
  font-family: 'RobotoCondensed-400';
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
@media all and (max-width: 620px) {
  h2.display-1 {
    font-size: 6.3vw !important;
  }
}
@media all and (max-width: 620px) {
  h2.display-2 {
    font-size: 6.3vw !important;
  }
}
@media all and (max-width: 620px) {
  h2.display-3 {
    font-size: 5.9vw !important;
  }
}
.text-white h2 {
  color: #ffffff !important;
  font-family: 'RobotoCondensed-400';
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 900;
}
.text-white h4 {
  color: #ffffff !important;
}
.item-inner h4 {
  color: #285484 !important;
  font-family: 'RobotoCondensed-400';
  line-height: 1!important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 800;
}
.navbar-brand {
  margin-right: 20px;
}
.navbar-brand img {
  width: 72px;
  height: auto;
}
.bg-dalprom-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 0%, #285484 100%), url("../img/overbg.html");
  position: relative;
  overflow: hidden;
}
.dalprom-overlay-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/overbg.html");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  mix-blend-mode: overlay;
}
.color-dark {
  color: #285484!important;
}
@media all and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    letter-spacing: 0.04em;
  }
}
.btn-primary {
  --bs-btn-bg: #285484;
  --bs-btn-border-color: #285484;
  --bs-btn-hover-bg: #285484;
  --bs-btn-hover-border-color: #285484;
  --bs-btn-active-bg: #285484;
  --bs-btn-active-border-color: #285484;
  --bs-btn-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #ffffff;
}
.btn-change-primary {
  --bs-btn-bg: #285484;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-color: #ffffff;
  --bs-btn-hover-color: #0f1835;
  --bs-btn-active-color: #0f1835;
}
.btn-change-primary-2 {
  --bs-btn-bg: #285484;
  --bs-btn-border-color: #285484;
  --bs-btn-hover-bg: #285484;
  --bs-btn-hover-border-color: #285484;
  --bs-btn-active-bg: #285484;
  --bs-btn-active-border-color: #285484;
  --bs-btn-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #ffffff;
}
.btn-outline-primary {
  --bs-btn-color: #285484;
  --bs-btn-border-color: #285484;
  --bs-btn-hover-bg: #285484;
  --bs-btn-hover-border-color: #285484;
  --bs-btn-active-bg: #285484;
  --bs-btn-active-border-color: #285484;
  --bs-btn-disabled-color: #285484;
  --bs-btn-disabled-border-color: #285484;
}
.btn-outline-primary-2 {
  --bs-btn-color: #285484;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-border-color: #285484;
  --bs-btn-hover-bg: #285484;
  --bs-btn-hover-border-color: #285484;
  --bs-btn-active-bg: #285484;
  --bs-btn-active-border-color: #285484;
  --bs-btn-disabled-color: #285484;
  --bs-btn-disabled-border-color: #285484;
}
.btn-blue {
  --bs-btn-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-hover-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
}
/*
.btn-outline-primary {
  --bs-btn-color: @MainBlue;
  --bs-btn-border-color: @MainBlue;
  --bs-btn-hover-bg: @MainBlue;
  --bs-btn-hover-border-color: @MainBlue;
  --bs-btn-active-bg: @MainBlue;
  --bs-btn-active-border-color: @MainBlue;
  --bs-btn-disabled-color: @MainBlue;
  --bs-btn-disabled-border-color: @MainBlue;
}*/
.btn-outline-light-blue {
  --bs-btn-color: rgba(255, 255, 255, 0.5);
  --bs-btn-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-hover-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
  --bs-btn-disabled-color: rgba(255, 255, 255, 0.5);
  --bs-btn-disabled-border-color: rgba(255, 255, 255, 0.5);
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
  --bs-navbar-color: #285484;
  --bs-navbar-hover-color: var(--bs-primary);
  --bs-navbar-disabled-color: rgba(52, 63, 82, 0.3);
  --bs-navbar-active-color: var(--bs-primary);
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-brand-font-size: 0.7rem;
  --bs-navbar-brand-color: var(--bs-primary);
  --bs-navbar-brand-hover-color: var(--bs-primary);
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='45' height='32' viewBox='0 0 45 32'%3e%3cpath fill='%233f78e0' d='M26.88 29.888c-1.076 1.289-2.683 2.103-4.48 2.103s-3.404-0.814-4.472-2.093l-0.008-0.009-5.12-7.040-8.192-10.048-3.52-4.608c-0.646-0.848-1.036-1.922-1.036-3.087 0-2.828 2.292-5.12 5.12-5.12 0.139 0 0.277 0.006 0.413 0.016l-0.018-0.001h33.664c0.118-0.010 0.256-0.015 0.396-0.015 2.828 0 5.12 2.292 5.12 5.12 0 1.165-0.389 2.239-1.045 3.1l0.009-0.013-3.52 4.608-7.872 10.048z'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: transparent;
  --bs-navbar-toggler-border-radius: 0.4rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.bg-gradient-fish {
  background-color: #285484;
}
.bg-light-fish {
  background-color: #285484;
}
.navbar {
  text-transform: uppercase;
}
h1 {
  font-weight: 900!important;
}
.topline a {
  margin-left: 15px;
}
.dalprom-logo {
  width: 80px;
  height: auto;
}
.bg-primary {
  background-color: #285484 !important;
}
.full-rounded {
  /*border-radius: 50%;*/
  overflow: hidden;
}
.full-rounded img {
  width: 100%;
  height: auto;
}
.icon-fish {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  font-size: 42px;
  color: #ffffff;
  background-color: #285484;
  border-radius: 50%;
  margin-bottom: 30px;
  font-weight: 100;
}
.icon-fish img {
  width: auto!important;
  height: auto!important;
}
.btn-lg {
  font-size: 16px!important;
  text-transform: uppercase!important;
  letter-spacing: 0.1em !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.62rem !important;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: 1000;
}
.color-gray {
  color: #f6f7f9 !important;
}
.bg-gray {
  background-color: #f6f7f9 !important;
  fill: #f6f7f9 !important;
}
.bg-white {
  background-color: #ffffff !important;
  fill: #ffffff !important;
}
.bg-main-dark-blue {
  background-color: #285484 !important;
  fill: #285484 !important;
}
.bg-main-dark {
  background-color: #285484!important;
  fill: #285484!important;
}
.bg-main-blue {
  background-color: #285484 !important;
  fill: #285484 !important;
}
.bg-light {
  background-color: #f3f5f7 !important;
  fill: #f3f5f7 !important;
}
.bg-lightgray {
  background-color: #f3f5f7 !important;
  fill: #f3f5f7 !important;
}
.bg-white {
  background-color: #ffffff !important;
  fill: #ffffff !important;
}
.color-white {
  color: #ffffff !important;
}
.color-main-blue {
  color: #285484 !important;
}
.color-main-dark-blue {
  color: #285484 !important;
}
.color-main-light-blue {
  color: rgba(255, 255, 255, 0.5) !important;
}
.color-main-light-gray {
  color: #f3f5f7 !important;
}
@media all and (max-width: 640px) {
  .divider {
    margin-bottom: -3px;
  }
}
.hamburger {
  color: #285484 !important;
}
@media (max-width: 991.98px) {
  .offcanvas {
    background-color: #285484!important;
    background-image: url("../img/bg-menu.jpg");
    background-size: cover;
  }
}
.img-holder {
  width: 100%;
  padding-top: 100%;
  /*border-radius: 50%;*/
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.img-holder img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.items-5 {
  width: 20%;
}
@media all and (max-width: 990px) {
  .items-5 {
    width: 33.33%;
  }
}
@media all and (max-width: 575px) {
  .items-5 {
    width: 50%;
  }
}
@media all and (max-width: 400px) {
  .items-5 {
    width: 100%;
    padding: 0 50px;
  }
}
.progress-wrap svg.progress-circle path {
  stroke: rgba(255, 255, 255, 0.5);
}
.progress-wrap:after {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-nav {
  --bs-nav-link-color: #285484;
  --bs-nav-link-hover-color: #285484;
}
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-collapse .nav-link {
    font-size: 22px!important;
    margin-bottom: 10px;
  }
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1;
}
.waves-light {
  background-image: url("../img/waves-light.html");
  background-position: center bottom;
  mix-blend-mode: multiply;
}
section {
  position: relative;
}
section .container,
section .overflow-hidden {
  position: relative;
  z-index: 100;
  overflow: hidden;
}
section {
  box-sizing: border-box;
  max-width: 100vw!important;
  overflow: hidden;
}
footer {
  color: #f3f5f7;
  font-weight: normal;
}
footer a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
@media all and (max-width: 991px) {
  footer .row {
    flex-direction: column!important;
    align-items: center;
  }
  footer .col {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
  }
  footer .col.last {
    margin-bottom: -10px !important;
  }
}
.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 12px;
  text-align: center;
}
.copyright {
  font-size: 12px;
  width: 100%;
  margin-left: 9px;
  margin-bottom: 0!important;
}
.politics {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.politics p {
  margin-bottom: 10px;
}
.politics a {
  display: inline;
  line-height: 1!important;
  border-bottom: dashed rgba(255, 255, 255, 0.5) 1px;
}
.politics a:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: dashed rgba(255, 255, 255, 0.5) 1px;
}
.connect {
  font-size: 14px;
  margin-bottom: 20px;
}
.nav-item {
  padding: 30px;
}
.nav-item.foot {
  padding: 0 20px 0 0;
}

.nav-item.foot a i {
  font-size: 28px;
  color: #ffffff;
}
.nav-item.foot a i:hover {
  color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 1399px) {
  .nav-item {
    padding: 30px 20px;
  }
}
@media all and (max-width: 1200px) {
  .nav-item {
    padding: 30px 12px;
  }
}
@media (max-width: 991.98px) {
  .nav-item {
    padding: 10px 0;
  }
}
.nav-item.hamb {
  padding: 0 0 0 18px!important;
}
.nav-link {
  padding: 0!important;
  padding-left: 0!important;
  padding-right: 0!important;
}
.fa-envelope {
  position: relative;
  top: 3px;
}
.navbar .navbar-other .navbar-nav > .nav-item + .nav-item {
  margin-left: 0;
}
.navbar-other .nav-item {
  padding: 15px!important;
}
@media all and (max-width: 992px) {
  .hover:before {
    display: none;
  }
}
.w208 {
  width: 208px!important;
}
.mr-10 {
  margin-right: 14px;
}
@media all and (max-width: 490px) {
  .mr-10 {
    margin-right: 0px;
  }
}
@media all and (max-width: 490px) {
  .main-buttons {
    flex-direction: column!important;
  }
}
/*
.swiper-navigation {
 display: none;
  @media all and(max-width: 767px){
    display: block;
  }
}
 */
.swiper-navigation {
  display: block;
}
@media all and (max-width: 767px) {
  .swiper-navigation {
    display: none;
  }
  .ps-15 {
    padding-left: 0;
  }
}
.swiper-controls .swiper-navigation .swiper-button.swiper-button-next:after {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  font-size: 64px;
}
.swiper-controls .swiper-navigation .swiper-button.swiper-button-prev:after {
  content: "\f053";
  font-family: "Font Awesome 5 Pro";
  font-size: 64px;
}
.swiper-controls .swiper-navigation .swiper-button {
  background: none!important;
  color: #285484;
}
.sw-images .swiper-controls .swiper-navigation .swiper-button {
  color: #ffffff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.swiper-controls .swiper-navigation .swiper-button.swiper-button-disabled {
  color: #ccc !important;
}
.swiper-button-next,
.swiper-button-prev {
  top: 90px;
}
.sw-images .swiper-button-next,
.sw-images .swiper-button-prev {
  top: 42%;
}
.divider {
  margin-bottom: -2px !important;
}
.swiper-slide p {
  margin-top: 10px;
  line-height: 1.5;
}
.img-mask.mask-4 img {
  -webkit-mask-image: url(../img/svg/blob4.svg);
  mask-image: url(../img/svg/blob4.svg);
}
.img-mask.mask-5 img {
  -webkit-mask-image: url(../img/svg/ellipse1.svg);
  mask-image: url(../img/svg/blob4.svg);
}
/*
.main-slide {
    width: 120%;
    margin-top: -20%;
    margin-bottom: -20%;
    position: relative;
    overflow: hidden;
    @media all and(max-width: 991px) {
      width: 150%;
      margin-left:-25%;
      margin-bottom: 0px;
    }
}


.bg-white .main-slide {
  margin-top: -14% !important;
}
 */
@media (min-width: 992px) {
  .chess-item:nth-child(odd) .order-item {
    order: 2 !important;
  }
}
.bg-gradient-fish h2,
.bg-gradient-fish h3,
.bg-gradient-fish p,
.bg-gradient-fish h4 {
  color: #ffffff !important;
}
.bg-gradient-fish .icon-fish {
  background-color: #ffffff;
  color: #285484;
}
.card.facts h3,
.card.facts sup {
  display: inline-block;
  color: #ffffff !important;
}
.card.facts p {
  color: #fff;
}
.card.facts sup {
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  top: -14px;
  font-weight: bold;
}
.form-check-label a {
  color: #285484 !important;
  text-decoration: underline!important;
}
.form-check-label a:hover {
  color: #285484 !important;
}
.swiper-controls .swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  border: 3px solid #285484 !important;
  background: none!important;
  opacity: 1!important;
}
.bg-light-fish .swiper-controls .swiper-pagination .swiper-pagination-bullet,
.bg-gradient-fish .swiper-controls .swiper-pagination .swiper-pagination-bullet {
  border: 3px solid #fff !important;
}
.swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(0.6) !important;
  background: #285484 !important;
}
.bg-light-fish .swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.bg-gradient-fish .swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet:hover {
  transform: scale(0.7) !important;
}
/*# sourceMappingURL=dalprom.css.map */

/* ======= Переопределение style.css START ======= */
.btn-outline-blue {
    --bs-btn-color: rgba(255, 255, 255, 0.5);
    --bs-btn-border-color: rgba(255, 255, 255, 0.5);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.5);
    --bs-btn-hover-border-color: rgba(255, 255, 255, 0.5);
    --bs-btn-focus-shadow-rgb: 63,120,224;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
    --bs-btn-active-border-color: rgba(255, 255, 255, 0.5);
    --bs-btn-active-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
    --bs-btn-disabled-color: rgba(255, 255, 255, 0.5);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgba(255, 255, 255, 0.5);
    --bs-gradient: none;
}
/* ======= Переопределение style.css END ======= */

/* ======= Дополнительные стили START ======= */
.elem-center-xxl {
  display: block;
  text-align: center;
}

h2.elem-color-white {
  color: #FFFFFF !important;
}

.history__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.history__list-item {
  margin-bottom: 20px;
}

/* ======= circle-icon START ======= */
/* Скидываем старые стили */
.icon-fish {
  background-color: transparent;
}
/* Скидываем старые стили */
.icon-fish img {
  width: 100% !important;
  height: auto !important;
}
/* Скидываем старые стили */
.bg-gradient-fish .icon-fish {
  background-color: transparent;
}

.circle-icon {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-icon__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  z-index: -1;
}
/* ======= circle-icon END ======= */
.footer__nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 150px;
}

.footer__nav-list-item {
  margin-bottom: 10px;
}

.footer__nav-list-item:last-child {
  margin-bottom: 0;
}

.footer__nav-list-item-link {
  text-transform: uppercase;
}

.footer-logo-block {
  text-align: center;
}

.footer-logo-block a {
  display: inline-block;
  margin-bottom: 5px;
  width: 145px;
  height: auto;
}

.footer-logo-block img {
  width: 100%;
  height: 100%;
}

.bg-main-dark {
  background-color: #172853 !important;
  fill: #172853 !important;
}

.elem-mb-0 {
  margin-bottom: 0;
}

.navbar-brand {
  margin-right: 0;
  width: 135px;
  height: auto;
}

.navbar-brand a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .swiper-wrapper-innovations {
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px)  {
  .swiper-wrapper-innovations {
    justify-content: space-around;
  }
  .swiper-slide-innovations {
    width: 260.333px !important;
  }
}

@media (min-width: 992px) {
  .fs-72 {
    font-size: 2.5em !important;
  }
}

@media (min-width: 1200px) {
  .fs-72 {
    font-size: 3.4rem !important;
  }
}

@media (min-width: 1400px) {
  .fs-72 {
    font-size: 3.6rem !important;
  }
}

@media (max-width: 992px) {
  .elem-center-lg {
    display: block;
    text-align: center;
  }

  .elem-m-auto-lg {
    margin: 0 auto;
  }

  .counter-wrapper p {
    font-size: .7rem;
  }

  footer .row {
    align-items: flex-start;
  }
  
  footer .col {
    align-items: flex-start;
  }

  .copyright {
    margin-left: 0;
  }

  footer .col {
    text-align: left;
  }

  .footer__nav {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  h2.h-size-default {
    font-size: calc(1.485rem + 2.82vw) !important;
  }
}

@media (max-width: 380px) {
  .counter-wrapper p {
    font-size: .5rem;
  }
}

/* ======= stages START ======= */
.stages {
  margin-bottom: 120px;
}

.stage-block {
  margin-bottom: 50px;
}

.stages .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.stages .title-block {
  padding: 0;
  width: 100%;
}

.stages .chess-item:nth-child(even) .content-block {
  padding-left: 85px;
  padding-right: 0;
}

.stages .chess-item:nth-child(odd) .content-block {
  padding-left: 0;
  padding-right: 85px;
}

.stages-title {
  font-size: 50px !important;
}

.color-white {
  color: #FFFFFF !important;
}

.color-blue {
  color: #285484 !important;
}

.color-black {
  color: #0f1835 !important;
}

.bg-color-white {
  background-color: #FFFFFF !important;
}

.bg-color-blue {
  background-color: #285484 !important;
}

.stage-title, .control-title {
  font-size: 40px !important;
  text-transform: uppercase;
}

.production-title-block {
  padding-left: 62px;
}

.control-title-icon {
  margin-right: 12px;
  color: #f9ba15;
}

.stage-title {
  padding-left: 0;
  padding-right: 0;
}

/* ======= stages MEDIA START ======= */
@media (max-width: 1399.98px) {
  .stages {
    margin-bottom: 100px;
  }

  .stages .chess-item:nth-child(even) .content-block {
    padding-left: 65px;
  }
  
  .stages .chess-item:nth-child(odd) .content-block {
    padding-right: 65px;
  }
}

@media (min-width: 992px) {
  .stages .chess-item:nth-child(odd) .order-item {
    order: 2 !important;
  }
}

@media (max-width: 991.98px) {
  .stages-title {
    font-size: 42px !important;
  }

  .stage-title, .control-title {
    font-size: 28px !important;
  }

  .production-title-block {
    padding: 0;
  }

  .production-title, .production-subtitle {
    padding-left: 41px;
  }

  .content-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .production-title, .production-subtitle {
    padding-left: 15px;
  }
}

@media (max-width: 575.98px) {
  .stages-title {
    font-size: 30px !important;
  }

  .stage-title, .control-title {
    font-size: 24px !important;
  }
}
/* ======= stages MEDIA END ======= */
/* ======= stages END ======= */

/* ======= stages-slider START ======= */
.stages-slider {
  position: relative;
}

.stages-swiper {
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.stages-slider__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: auto;
}

.stages-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
  z-index: -1;
}

.stages-slider__title {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 2;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat-500", Arial, sans-serif;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
  /* animation: slideDown 1s ease-in-out infinite; */
}

/* @keyframes slideDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -90px;
  }
} */

.stages-slider__button-prev {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(40, 84, 132, 0.8);
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
}

.stages-slider__button-prev:hover {
  background-color: rgba(40, 84, 132, 0.6);;
}

.stages-slider__button-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 28px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAxOCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDEuOTRMMTYuMDU5NCAwTDAgMTZMMTYuMDU5NCAzMkwxOCAzMC4wN0wzLjg5MDYyIDE2TDE4IDEuOTRaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stages-slider__button-next {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(40, 84, 132, 0.8);
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
}

.stages-slider__button-next:hover {
  background-color: rgba(40, 84, 132, 0.6);
}

.stages-slider__button-next:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  width: 16px;
  height: 28px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAxOCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDEuOTRMMTYuMDU5NCAwTDAgMTZMMTYuMDU5NCAzMkwxOCAzMC4wN0wzLjg5MDYyIDE2TDE4IDEuOTRaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 100%;
  position: absolute;
  bottom: 4px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #285484;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.stages-slider__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 82px;
  height: 82px;
  background-color: #285484;
  border: none;
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
}

.stages-slider__play-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjxzdmcgZmlsbD0iI0ZGRkZGRiIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgDQoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDpub25lO30NCjwvc3R5bGU+DQo8cGF0aCBkPSJNOSwxOGw3LTZMOSw2VjE4eiIvPg0KPHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+DQo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz4NCjwvc3ZnPg==");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stages-slider__video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  z-index: 0;
}

.elem--hidden {
  /* opacity: 0 !important;
  visibility: hidden !important;
  transition: 0.3s ease-in !important; */
  display: none;
}

/* ======= stages-slider MEDIA START ======= */
@media (max-width: 1199.98px) {
  .stages-slider__title {
    height: 70px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .stages-slider__title {
    height: 50px;
    font-size: 16px;
  }
  .stages-slider__play-button {
    width: 62px;
    height: 62px;
  }
  .stages-slider__video-poster {
    display: none;
  }
  .stages-slider__button-prev {
    width: 40px;
    height: 40px;
    display: none;
  }
  .stages-slider__button-next {
    width: 40px;
    height: 40px;
    display: none;
  }
  .stages-slider__button-prev:before {
    width: 10px;
    height: 18px;
  }
  .stages-slider__button-next:before {
    width: 10px;
    height: 18px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2px;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 575.98px) {
  .stages-slider__slide {
    min-height: auto;
  }
  .stages-slider__title {
    line-height: 1.27;
  }
  .stages-slider__button-prev {
    left: 10px;
  }
  .stages-slider__button-next {
    right: 10px;
  }
  .stages-slider__title {
    height: 40px;
    font-size: 12px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -4px;
  }
}
/* ======= stages-slider MEDIA END ======= */
/* ======= stages-slider END ======= */
/* ======= Дополнительные стили END ======= */